*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.solid{
    width: 200px;
height: 100px;

border: 10px solid red ;
text-align: center;
padding:30px

}

.dotted{
    margin-top: 15px;
    width:200px ;
    height:100px;
border: 10px dotted red;
text-align: center;
padding: 30px;
}


.dashed{
margin-top: 15px;
width:200px;
height:100px;
border: 10px dashed red;
text-align: center;
padding: 30px;
}