*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
.border1{
    width:200px;
    text-align: center;
}
.border2{
    margin-top: 10px;
    width:200px;
    border:2px dotted ;
}
.border3{
    width:200px;
    margin-top: 10px;
    border:2px dashed
}
.border4{
    width:200px;
    margin-top: 10px;
    border:2px solid
}
.border5{
    margin-top: 10px;
    width:200px ;
    border:5px double green
}
.border6{
    margin-top: 10px;
    width: 200px;
    border:5px groove green
}
.border7{
    margin-top: 10px;
    width:200px;
    border:5px ridge greenyellow
}
.border8{
    margin-top: 10px;
    width: 200px;
    border:5px inset green
}
.border9{
    margin-top: 10px;
    width:200px;
    border:5px outset green
}